language: android
jdk: oraclejdk8
android:
        components:
                - tools
                - platform-tools
                - build-tools-25.0.3
                - android-25
                - extra-google-m2repository
                - extra-android-m2repository
        licenses:
                 - android-sdk-preview-license-.+
                 - android-sdk-license-.+
                 - google-gdk-license-.+
script:
        - ./gradlew build
before_install:
        - chmod +x gradlew